
    <div class="promo-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="single-promo">
                        <i class="fa fa-refresh"></i>
                        <p>30 dias para retornar</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-promo">
                        <i class="fa fa-truck"></i>
                        <p>Frete Grátis</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-promo">
                        <i class="fa fa-lock"></i>
                        <p>Pagamento Seguro</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-promo">
                        <i class="fa fa-gift"></i>
                        <p>Ganhe Brindes</p>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End promo area -->
    
    <div class="maincontent-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="latest-product">
                        <h2 class="section-title">Ultimos Produtos</h2>
                        <div class="product-carousel">
                           {loop="$products"}
                            <div class="single-product">
                                <div class="product-f-image">
                                    <img src="{$value.imagem}" alt="">
                                    <div class="product-hover">
                                        <a href="/carrinho/add/{$value.id}" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Adicionar ao carrinho</a>
                                        <a href="/shop/{$value.id}" class="view-details-link"><i class="fa fa-link"></i>Ver Detalhes</a>
                                    </div>
                                </div>
                                <h2><a href="/shop/{$value.id}">{$value.nome}</a></h2>
                                
                                <div class="product-carousel-price">
                                    <ins>R${$value.preco}</ins>
                                </div> 
                            </div>
                           {/loop}     
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End main content area -->
    